* {
    all: unset;
    font-family: 'Iosevka', monospace;
}

#workspaces button {
    padding: 8px;
    color: #cdd6f4;
}


#workspaces button.active.visible { 
    color: #cdd6f4;
} 

#workspaces button.empty,
#workspaces button.empty {
    color: #9399b2;
}

#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    color: #cdd6f4;
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
